<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body style="background: #212121">
    <div class="container">
        <h1 class="mb-4 mt-5" style="color: white; text-align: center">Blog Articles</h1>
        <div class="d-flex justify-content-end">
            <a href="/articles/new" class="btn btn-success" style="margin-right: none">New Article</a>
        </div>

        <% articles.forEach(article => { %>
            <div class="card mt-4 text-light bg-dark">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt %>
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary mt-4">Read more</a>
                </div>
            </div>
        <% }) %>

    </div>    
</body>
</html>